<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <script src="/static/js/main.js" type="module"></script>
    <script src="/static/js/lib/marked.umd.js"></script>
    <script src="/static/js/lib/purify.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <header class="header">
        <!-- //navigation bar     -->
        <nav class="nav">
        <!-- button to toggle sidebar -->
        <button id="toggleSidebar" class="btn btn-outline">X</button>
            <div class="nav-brand">
                <h1>My Blog</h1>
            </div>
        </nav>
    </header>

    <aside id="sidebar" class="sidebar">
        <nav class="sidebar-nav">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </aside>

    <main id="main" class="main">

        <!-- main content -->
        <section class="content">
            <article class="article">
                <header class="article-header">
                    <h2 id="article-title">Loading</h2>
                    <p class="article-meta">
                        <span>Author: </span>
                        <span id="article-author">Loading... </span>
                        <span>Last Updated: </span>
                        <span id="article-date">Loading...</span>
                    </p>
                </header>
                <div class="article-content">
                    
                    <!-- Markdown Container -->
                    <div id="markdown-content" class="markdown-content">
                        <p class="markdown-content">Loading content...</p>
                    </div>
                </div>

            </article>

            <!-- Comment Area -->
            <section class="comments-section">
                <h2>Comments</h2>
                <!-- TODO: Comment Area -->
            </section>
        </section>
    </main>

    <footer id="footer" class="footer">
        <p>&copy; 2025 chkviii.</p>
    </footer>

    <!-- 提示消息 -->
    <div id="toast" class="toast hidden">
        <span id="toastMessage"></span>
    </div>
    
    <script type="module">
        // 导入并初始化
        import { Blog } from '/static/js/blog.js';
       
        // 等待 DOM 加载完成
        document.addEventListener('DOMContentLoaded', () => {
            const blog = new Blog();
            
            // 从 URL 获取文章 ID
            const urlParams = new URLSearchParams(window.location.search);
            const postID = urlParams.get('id')
            
            if (postID) {
                blog.loadBlogPost(postID);
            }
        });
    </script>
    
</body>
</html>