.card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6);
    margin-top: 0px;
    margin-bottom: 18px;
}

.search-card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    padding: 24px 20px 8px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6);
    margin-top: 0px;
    margin-bottom: 18px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 14px
}